<!DOCTYPE html>
<html lang="en">

<head>
    <title>Popcorn Bucketlist</title>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/members.js"></script>
    <script src="/assets/js/signup.js"></script>
    
    
</head>
<body>
    
		{{{ body }}}
        
	</body>
</html>
