  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="float:right;">
      <a class="navbar-brand" href="/watch-list">Watchlist</a>
      <a class="navbar-brand" href="/logout">Logout</a>
    </div>
  </div>
</nav>
  <div class="container" id="log-in-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <form>
          <h2 for="searchInput">Let's Find a Movie</h2>
          <div class="form-group">
            <input class="form-control form-control-sm" type="text" name="movieSearch" id="movieSearch"
                aria-describedby="movieSearch" placeholder="The Goonies">

          </div>
          {{!-- I'm changing the id here to search-btn (Jordan) --}}
          <button type="submit" id="search-btn" class="btn btn-primary btn-danger">Search</button>
          
          <div id="searchResults"></div>
          <br>
          <br>
          <input type="reset" class="btn btn-warning" value="Clear Movie Search">
        
        </form>
      </div>
    </div>
  </div>

{{!-- <script src="/assets/js/mocksearch.js"></script> --}}
​<script src="/assets/js/search.js"></script>
<script src="/assets/js/members.js"></script>
<script src="/assets/js/watch-list.js"></script>
