  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="float:right;">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container" id="log-in-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
<<<<<<< HEAD
        <h2>Welcome! Lets get started! <span class="member-name"></span></h2>
        <div id="searchResults"></div>
=======
        <form>
          <h2 for="searchInput">Search for a Movie</h2>
          <div class="form-group">
            <input type="searchBox" class="form-control form-control-sm " id="movieSearch"
                aria-describedby="movieSearch" placeholder="The Goonies">

          </div>

          <button type="submit" id="search" class="btn btn-primary btn-danger">Search</button>

          <br>
          <br>

          <a href = "/add" class="btn btn-warning"> Add new Movie</a>
      </form>
>>>>>>> 87dfda17b041f2e0859d558ca717eb2cb807dc61
      </div>
    </div>
  </div>

<script src="/assets/js/mocksearch.js"></script>
​<script src="/assets/js/search.js"></script>
<script src="/assets/js/members.js"></script>
