<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" style="float:right;">
        <a class="navbar-brand" href="/watch-list">Watchlist</a>
        <a class="navbar-brand" href="/logout">Logout</a>
    </div>
  </div>
</nav>
  <div class="container" id="log-in-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="searchResults"></div>
      </div>
    </div>
  </div>
  
<script src="/assets/js/watch-list.js"></script>
<script src="/assets/js/mocksearch.js"></script>
​<script src="/assets/js/search.js"></script>
<script src="/assets/js/members.js"></script>