body {
  background: url(../images/movie.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

#log-in-container {
  border: 5px solid black;
  background-color:whitesmoke;
  margin: auto;
  width: 50%;
  padding: 20px;
  margin-top: 80px;
}



form.signup,
form.login {
  margin-top: 55px;
}
